.tabsWrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    background-color: #1F1F1F;
}

.tabs {
    display: flex;
    align-items: center;
    overflow-x: auto;
    /* Firefox */
    scrollbar-width: none;
    /* IE и старые Edge */
    -ms-overflow-style: none;
    background-color: #1a1a1a;
}

.tab {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    padding: 5px 20px;
    flex-shrink: 0;
    white-space: nowrap;
    border-radius: 4px 4px 0 0;
    background-color: #1F1F1F;
}

.active {
    background-color: #242424;
}