.characterContentWrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    overflow: auto;
    /* Firefox */
    scrollbar-width: none;
    /* IE и старые Edge */
    -ms-overflow-style: none;
}

.characterContent {
    padding: 12px;
    border-radius: 6px;
    max-width: 600px;
    width: 100%;
}

.flex {
    display: flex;
}