.skillsContainer {
    background: #1F1F1F;
    padding: 14px 12px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    box-shadow: 0 12px 26px rgba(0, 0, 0, 0.14);
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.skillWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #242424;
    border-radius: 8px;
    padding: 5px 6px;
}

.leftSide {
    display: flex;
    align-items: center;
    width: 60%;
}

.rightSide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.select {
    outline: 1px solid #2eb9a1;
    border: 1px solid #242424;
    background-color: #242424;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 6px;
}

.selected, .expertise {
    border: 1px solid #242424;
    background-color: #2eb9a1;
}

.skillName {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 12px;
}

.modifer {
    font-weight: bold;
    width: 40px;
    display: flex;
    justify-content: center;
}

.at {
    font-size: 10px;
    width: 30px;
    height: 20px;
    background: #2eb9a1;
    color: #242424;
    padding: 0 3px;

    display: flex;
    justify-content: end;
    align-items: center;

    clip-path: polygon(
            6px 0,
            100% 0,
            100% 100%,
            6px 100%,
            0 50%
    );
}

.expertiseImg {
    position: relative;
}

.expertiseImg::after {
    content: "★";
    width: 20px;
    height: 20px;
    position: absolute;
    top: -7px;
    right: -12px;
    font-size: 10px;
    color: #2eb9a1;
    text-shadow: 0 0 2px rgba(79, 151, 255, 0.7);
    pointer-events: none;
}

@media (min-width: 1280px) {
    .skillsContainer {
        padding: 18px 16px;
        margin-bottom: 0;
        gap: 8px;
    }

    .skillWrapper {
        padding: 7px 8px;
    }
}
