.battleTrackerContainer {
    height: calc(100% - 60px);
    overflow: hidden;
    background-color: #242424;
    width: 100%;
}

.content {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 43.5px);
    padding: 12px 20px 0 20px;
}

/* центральный блок */
.container > div:nth-child(2) {
    flex: 1;
}

/* адаптив */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .container > div {
        width: 100%;
    }

    .container > div:nth-child(2) {
        flex: none;
    }
}