* {
    margin: 0;
}

.listHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F1F1F;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.name {
    margin-right: 6px;
}

.level {
    background-color: #2eb9a1;
    border-radius: 4px;
    color: #1a1a1a;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    margin-right: 12px;
}

.link {
    margin-right: 6px;
    color: #FBFAFA;
    text-decoration: none;
}

.link:hover, .link:focus-visible {
    color: #FBFAFA;
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

.margin {
    margin-left: 12px;
}