.overlay {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: end;

    z-index: 1000000000;
}

.modal {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: end;
    position: relative;
    background: radial-gradient(circle at top left, rgba(46, 185, 161, 0.1), transparent 18%), linear-gradient(180deg, #1a1a1a 0%, #1a1a1a 100%);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    cursor: pointer;
}