button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1F1F1F;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #FBFAFA;
    user-select: none;
}
button:hover {
}
button:focus,
button:focus-visible {
    outline: none;
}

.addCard, .copy, .openCardList, .settings, .nextMove, .nextMoveBig, .stopBattle, .addCharacter, .note, .saveNote, .close, .resurrection, .addCondition, .reset, .startBattle, .addHits, .edit, .delete, .addUserToBattle, .getOutOfBattle, .subtractHits {
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    padding: 0;
}

.openCardList {
    width: 40px;
    height: 40px;
    background-image: url("../../../assets/img/openCardList.svg");
}

.close {
    width: 25px;
    height: 25px;
    background-image: url("../../../assets/img/close.svg");
}

.copy {
    width: 25px;
    height: 25px;
    background-image: url("../../../assets/img/copy.svg");
}

.settings {
    width: 40px;
    height: 40px;
    background-image: url("../../../assets/img/settings.svg");
}

.addCard {
    width: 40px;
    height: 40px;
    background-image: url("../../../assets/img/addUser.svg");
}

.delete {
    width: 25px;
    height: 25px;
    background-image: url("../../../assets/img/delete.svg");
}

.edit {
    width: 25px;
    height: 25px;
    background-image: url("../../../assets/img/edit.svg");
}

.startBattle {
    width: 100px;
    height: 100px;
    background-image: url("../../../assets/img/battle.svg");
}

.addUserToBattle {
    width: 25px;
    height: 25px;
    background-image: url("../../../assets/img/battleUser.svg");
}

.nextMove {
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url("../../../assets/img/next.svg");
}

.getOutOfBattle {
    width: 40px;
    height: 40px;
    background-image: url("../../../assets/img/exit.svg");
}

.addHits {
    width: 25px;
    height: 25px;
    background-image: url("../../../assets/img/plus.svg");
}

.subtractHits {
    width: 25px;
    height: 25px;
    background-image: url("../../../assets/img/minus.svg");
}

.stopBattle {
    width: 40px;
    height: 40px;
    background-image: url("../../../assets/img/stop.svg");
    background-position: center;
}

.reset {
    width: 40px;
    height: 40px;
    background-image: url("../../../assets/img/longRest.svg");
}

.addCondition {
    width: 25px;
    height: 25px;
    background-image: url("../../../assets/img/condition.svg");
}

.resurrection {
    width: 50px;
    height: 40px;
    background-image: url("../../../assets/img/resurrection.svg");
}

.note {
    width: 25px;
    height: 25px;
    background-image: url("../../../assets/img/note.svg");
}

.saveNote {
    width: 25px;
    height: 25px;
    background-image: url("../../../assets/img/savenote.svg");
}


.resetDice, .plus, .minus {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FBFAFA;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.resetDice {
    background-color: #242424;
    background-image: url("../../../assets/img/resetdice.svg");
    position: absolute;
    bottom: -25px;
    border: 1px solid rgba(255, 255, 255, 0.08);

}

.plus {
    background-color: transparent;
    background-image: url("../../../assets/img/plus.svg");
}

.minus {
    background-color: transparent;
    background-image: url("../../../assets/img/minus.svg");
}

.addCharacter {
    background-image: url("../../../assets/img/plus.svg");
    width: 25px;
    height: 25px;
    padding: 5px 15px;
}

.btnColor {
    background-color: #2eb9a1;
    color: #1F1F1F;
}

.btnRed {
    background-color: #8A0000;
    color: #FBFAFA;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
