.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    height: 60px;
    padding: 0 12px;
    position: relative;
    z-index: 999999;
    gap: 12px;
}

.linkContainer {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 25px;
    height: 25px;
}

.menuText {
    display: none;
}

.logoWrapper {
    display: flex;
}

.wrapperLink {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 767px) {
    .linkContainer {
        width: 50%;
    }
}

@media (min-width: 1023px) {
    .header {
        padding: 0 20px;
    }
    .linkContainer {
        width: 100%;
    }
    .linkContainer a {
        text-decoration: none;
        color: #2eb9a1;
    }

    .icon {
        width: 15px;
        height: 15px;
        margin-right: 6px;
    }

    .menuText {
        color: #2eb9a1;
        display: inline-block;
        font-weight: 500;
        transition: color 0.3s ease;
        white-space: nowrap;
        cursor: pointer;
    }
}

@media (min-width: 1200px) {
    .header {
        justify-content: start;
    }

    .linkContainer {
        gap: 20px;
        width: max-content;
    }
}
