.times {
    height: 250px;
    border-radius: 8px;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    margin: 12px 20px;
}

.listBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startBattleBtn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timersFlex {
    /*height: 100%;*/
    overflow-y: auto;
    /* Firefox */
    scrollbar-width: none;
    /* IE и старые Edge */
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.baseTimers {
    padding: 12px;
    border-bottom: 1px solid #333333;
}

.conditionsWrapper {
    padding: 12px;
}

.subtitle {
    margin-bottom: 12px;
}

.timersBtn {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.cardConditions {
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
}

.settings {
    padding: 12px;
    background-color: #1a1a1a;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.btnFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

@media (min-width: 1023px) {
    .times {
        width: 230px;
        height: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin: 0;
    }

    .listBtn {
        display: none;
    }
}