.times {
    height: 250px;
    border-radius: 12px;
    background: #1F1F1F;
    border: 1px solid rgba(255, 255, 255, 0.07);
    display: flex;
    flex-direction: column;
    box-shadow: 0 12px 26px rgba(0, 0, 0, 0.14);
}

.listBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startBattleBtn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timersFlex {
    
    overflow-y: auto;
    
    scrollbar-width: none;
    
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.baseTimers {
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.conditionsWrapper {
    padding: 12px;
}

.subtitle {
    margin-bottom: 12px;
}

.timersBtn {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.cardConditions {
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
}

.settings {
    padding: 12px;
    background-color: #1a1a1a;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

.btnFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

@media (min-width: 1023px) {
    .times {
        width: 230px;
        height: 100%;
        margin: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .listBtn {
        display: none;
    }
}
