.big {
    width: 100px;
    height: 100px;
}

.small {
    width: 50px;
    height: 50px;
}

.artificer, .barbarian, .bard, .cleric, .druid, .fighter, .monk, .paladin, .ranger, .rogue, .sorcerer, .warlock, .wizard {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.artificer {
    background-image: url("../../../assets/img/ClassesIcon/artificer.svg");
}
.barbarian {
    background-image: url("../../../assets/img/ClassesIcon/barbarian.svg");
}
.bard {
    background-image: url("../../../assets/img/ClassesIcon/bard.svg");
}
.cleric {
    background-image: url("../../../assets/img/ClassesIcon/cleric.svg");
}
.druid {
    background-image: url("../../../assets/img/ClassesIcon/druid.svg");
}
.fighter {
    background-image: url("../../../assets/img/ClassesIcon/fighter.svg");
}
.monk {
    background-image: url("../../../assets/img/ClassesIcon/monk.svg");
}
.paladin {
    background-image: url("../../../assets/img/ClassesIcon/paladin.svg");
}
.ranger {
    background-image: url("../../../assets/img/ClassesIcon/ranger.svg");
}
.rogue {
    background-image: url("../../../assets/img/ClassesIcon/rogue.svg");
}
.sorcerer {
    background-image: url("../../../assets/img/ClassesIcon/sorcerer.svg");
}
.warlock {
    background-image: url("../../../assets/img/ClassesIcon/warlock.svg");
}
.wizard {
    background-image: url("../../../assets/img/ClassesIcon/wizard.svg");
}